:root{



}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: initial;
    background-color: rgb(255, 0, 0);
    color: rgb(239, 233, 233);
}

header {
    background-color: aliceblue;
    color: black;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 }

 header h1 {
    font-size: 30px;
 }

 nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
 }

 nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
 }

 nav a:hover {
    color: brown;
 }

 main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
 }

 section {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(5, 5, 5);
 }

 section h2 {

 }

 section ul {
    margin-left: 20px;
 }

 section li {
    margin-bottom: 8px;
 }